
.main-container {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.announcements {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    background-color: #b8f1df;
    
}

.announcements span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}

.left-right-section {
    margin-bottom: 40px;
   display: flex; 
}

.left-right-section .text {
    width: 50%;
    color: #185b4a;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b8f1df;
}

.left-right-section .image {
    width: 50%;
    height: 420px;
}

.left-right-section .imgage img {
    height: 100%;
}

.text h1, .text h3 {
    margin: 0;
    font-weight: 400;
}

.text h1 {
    margin-bottom: 24px;
}

.text h3 {
    margin-bottom: 32px;
    font-size: 19px;
    text-align: center;
}

.text .cta {
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    color: #1e3932;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.text .cta:hover {
    padding: 7px 28px;
    background-color: #9cbcb4;
    transition: all 0.2s ease;
}


.chill .text h1 {
    font-weight: 600;
   line-height: 0.5;
   font-size: 25px;
}

.chill .text h3 {
    font-size: 17px;
    
}

section {
    display: flex;
}

.top-bottom-section {
    width: 50%;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.top-bottom-section .image {
    width: 100%;
}

.top-bottom-section .image img {
    width: 100%;
}

.top-bottom-section .text {
    display: flex;
    flex-direction: column;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bottom-section:first-child .section-container {
    margin-right: 16px;
}

.top-bottom-section:last-child .section-container {
    margin-left: 16px;
}

.top-bottom-section .image {
    display: flex;
}

.top-bottom-section .text {
    background-color: #b8f1df;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 16px;
    color: #1e3932;
    flex-grow: 1;
}

.top-bottom-section .text h1 {
    font-size: 25px;
    font-weight: 400;
    margin-left: 25px;
    margin-bottom: 24px;
    align-items: center;
}

.top-bottom-section .text h3 {
    font-size: 17px;
    line-height: 1.75;
    text-align: center;
}

.top-bottom-section {
    display: flex;
    margin-bottom: 1px;
}

.conclusion {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    background-color: #b8f1df;
    
    
}

.conclusion span {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 60%;
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
}
